#body{
     background-color: #89A8B2;
    
}
h1{
    text-align: center;
    color: blue;
}
h2{
    color: blue
}
h1{
    text-align: center;
}
src{
    align-items: center;
}
p{
    text-align: center;
}
#image{
    width: 900px;
}
